body {
  font-family: helvetica, sans-serif;
  background-color: #fff;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ol, ul {
  list-style: none;
}

/* Profiel aanmaken */
main form {
  margin-top: 5em;
  color: #8e1f81;
  font-size: .9em;
  margin-left: 30%;
  margin-right: 30% margin-bottom: 20em;
}

/* Formulier Profiel */
main .profiel img {
  width: 20%;
  margin-left: 40%;
  margin-top: 1em;
}

main>div>form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  transition: all .5s;
  padding: 1em;
  background: #FAFAFA;
  margin-right: 30%;
}

main>div>form>fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1em;
  border: none;
  transition: all .2s;
  padding: 1em;
}

main>div>form>fieldset:valid p {
  display: block;
  color: White;
  background: #8e1f81;
  padding: .25em;
}

main>div>form>fieldset:invalid {
  background: #F5E1F2;
}

main>div>form>fieldset:invalid p {
  display: none;
}

main>div>form>fieldset>legend {
  font-weight: bold;
}

main>div>form>fieldset>input {
  padding: .25em;
  font-size: 1.25em;
  margin-bottom: 1em;
  width: 100%;
  transition: all 2s;
  z-index: 2;
}

main>div>form>fieldset>input:valid {
  border-color: ##8e1f81;
}

main>div>form>fieldset>input:invalid {
  border-color: #E5BADE;
  background: #E5BADE;
}

main>div>form>fieldset>input:focus {
  transform: scale(1.01, 1.01);
}

main>div>form>fieldset>input::placeholder {
  color: rgba(0, 0, 0, .25);
  font-style: italic;
}

main>div>form>a>button {
  color: white;
  background-color: #8e1f81;
  font-size: .8em;
  display: block;
  margin-top: 3em;
  margin-left: 70%;
  width: 30%;
  height: 3em;
  border-radius: .2em;
}

main>div>form>a>button:last-child {
  color: #8e1f81;
  background-color: white;
  text-decoration: underline;
  margin-top: 0;
}

main>div>form:valid button {
  opacity: 1
}

main>div>form>button:focus {
  transform: scale(1.1, 1.1);
}
